.introduction-container {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  overflow-x: auto;
  overflow-y: auto;

  .header {
    .name {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      float: left;
      justify-content: start;
    }

    .version {
      color: grey;
      font-size: 25px;
      font-weight: bold;
      height: 40px;
      margin-top: 52px;
      text-align: justify;
    }
    .content {
      font-size: 20px;
      font-weight: bold;
      padding-left: 180px;
      padding-top: 20px;
      overflow-y: auto;
      overflow-x: auto;
      align-items: center;
    }
  }
}
.banner {
  height: 1000px;
  width: 1000px;
  background-size: cover;
  background-position: center;
}
.img-banner {
  width: 1000px;
  height: 900px;
}
.banner-content {
  padding-top: 100px;
  justify-content: flex-start;
  display: flex;
  gap: 50px;
  padding-left: 10px;

  img {
    width: 900px;

    height: 100%;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 10px;
    background-color: rgb(245, 241, 241);
  }
}
.between {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border: none;
  text-align: justify;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
.word {
  padding-top: 10px;
  gap: 100px;
  display: flex;
  p {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
  }
}
.footer-content {
  .overview {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .overview-content {
    display: flex;
  }
}
.feature-list {
  list-style-type: disc;
  padding-left: 20 px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.feature-list li strong {
  display: inline-block;
  margin-right: 5px;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.contact-section {
  margin-top: 40px;
}

.contact-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 16px;
  margin: 0;
}

.contact-section a {
  color: #0078d4; /* Fluent UI blue */
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}
