@media (max-width: 1200px), (min-width: 992px) {
  .ant-layout-sider-children {
    background-color: #fff;
  }

  .close-btn {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    padding-top: 10px;
  }

  .mobile-toggle {
    display: none;
    position: fixed;
  }

  .sidebar {
    position: fixed;
    inset-inline-start: 0;
    top: 0;
    height: 100vh;
    bottom: 0;
    overflow-x: auto;
    background: #fff;

    .div-header {
      padding: 20px 0 0 19px;
    }

    .search {
      position: relative;

      align-items: center;
      justify-content: start;
      padding-top: 8px;

      .iconsearch {
        position: absolute;
        width: 13px;
        margin-left: 10px;
        padding-top: 12px;
        color: grey;
        line-height: 1.5;
      }

      input {
        width: 210px;
        height: 35px;
        padding: 10px 30px;
        border: 1px solid rgb(219, 213, 213);
        border-radius: 30px;
        outline: none;
        color: black;
        opacity: 1;

        &::placeholder {
          color: grey;
        }
      }
    }
  }

  .toggle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgba(92, 104, 112, 0.6);
    margin: 0 6px 0 5px;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(90deg);
    }
  }

  .ant-menu-submenu-arrow {
    display: none;
  }

  .submenu-title {
    float: left;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .menu-sidebar {
    margin-left: 0;
    text-decoration: none;

    .ant-menu-item,
    .ant-menu-item > a {
      padding-left: 20px;
      text-decoration: none;
      color: #000;
      list-style: none;
    }

    .ant-menu-item:hover {
      background-color: #f0f2f5;
    }

    .ant-menu-item-selected {
      background-color: #e6f7ff;
      color: #1890ff;
    }

    .ant-menu-item > a:hover {
      color: #1890ff;
    }

    .ant-menu-item > a:active {
      color: #40a9ff;
    }

    .ant-menu-item > a:focus {
      color: #096dd9;
    }
  }

  .submenu-developer {
    font-size: 12px;
    text-align: left;
  }

  .submenu-title-component {
    font-size: 13px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .submenu-title-lg {
    font-size: 17px;
    font-weight: 600;
  }

  .menu .submenu-title-sm {
    font-size: 12px;
    gap: 5px;
  }

  .ant-menu-submenu-title {
    padding: 0 !important;
  }

  .ant-menu-title-content {
    font-size: 13px;
    padding: 4px;
    margin: 0 !important;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0);
    }
  }

  .close-btn {
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .mobile-toggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    cursor: pointer;
  }

  .main-content.sidebar-open {
    margin-left: 160px;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (max-width: 480px), (min-width: 321px) {
  .sidebar {
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    min-width: none;
    overflow-x: auto;
    background: #fff;

    .div-header {
      padding: 20px;
    }
  }

  .main-content.sidebar-open {
    margin-left: 140px;
  }

  .close-btn,
  .mobile-toggle {
    position: fixed;
    display: inline;
  }

  .close-btn {
    top: 10px;
    right: 10px;
    font-size: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .toggle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgba(92, 104, 112, 0.6);
    margin: 0 6px 0 5px;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(90deg);
    }
  }

  .ant-menu-submenu-arrow {
    display: none;
  }

  .submenu-title {
    float: left;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .menu-sidebar {
    margin-left: 0;
    text-decoration: none;

    .ant-menu-item,
    .ant-menu-item > a {
      padding-left: 20px;
      text-decoration: none;
      color: #000;
      list-style: none;
    }

    .ant-menu-item:hover {
      background-color: #f0f2f5;
    }

    .ant-menu-item-selected {
      background-color: #e6f7ff;
      color: #1890ff;
    }
  }

  .submenu-developer {
    font-size: 12px;
    text-align: left;
  }

  .submenu-title-component {
    font-size: 13px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .submenu-title-lg {
    font-size: 17px;
    font-weight: 600;
  }

  .menu .submenu-title-sm {
    font-size: 12px;
    gap: 5px;
  }

  .ant-menu-submenu-title {
    padding: 0 !important;
  }

  .ant-menu-title-content {
    font-size: 13px;
    padding: 4px;
    margin: 0 !important;
    font-weight: 400;
  }
}
