.guide-container {
  margin: 0 auto;
  margin-top: 60px;
  font-family: Arial, sans-serif;
  color: #000;

  section {
    margin-bottom: 48px;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    margin: 8px 0;
  }

  code {
    font-family: Consolas, monospace;
    background-color: #e4e2e2;
    padding: 2px 4px;
    border-radius: 4px;
    color: #494848;
    border: 1px solid #e9e6e6;
  }

  .code-block {
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 12px;
    margin-top: 8px;
    overflow-x: auto;
    border: 1px solid #dad6d6;

    code {
      display: block;
      white-space: pre;
      color: rgb(69, 67, 67);
      background: none;
      padding: 0;
    }
  }

  a {
    color: #0078d4;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
