/* app-container: Toàn bộ layout */
.app-container {
  flex: content;
}

/* side-container: Sidebar bên trái */
.side-container {
  background-color: #f0f2f5 !important;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

/* content-container: Content bên phải */
.content-container {
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 50px;
  height: 100vh;
  /* Khoảng cách giữa sidebar và content */
}
/* Các kiểu CSS chung */
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* Hoặc 24px nếu bạn dùng px */
  padding: 0%;
}

h1,
h2,
h3,
p,
span,
div {
  line-height: 1.5;
}
/* Các kiểu CSS cho sidebar */

/* Bạn có thể thêm các kiểu CSS khác nếu cần */
.ant-menu-item {
  padding: 7% !important;
}
