.lang-toggle {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 120px;
  height: 30px;
}
.lang-toggle:hover {
  background-color: rgba(94, 93, 93, 0.1);
  transition: background-color 0.3s ease;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  padding: 5px 10px;

  transition: all 0.3s ease;
  background-color: rgba(94, 93, 93, 0.1);
}
